// Breakpoints
// -------------------------

$breakpoints: (
  xsmall:     480px,
  small:      768px,
  medium:     1024px,
  large:      1200px,
);

// Fonts
// -------------------------

$font-family-en: 'Quicksand-Regular', Verdana, Raleway, HelveticaNeue, "Source Sans Pro", Helvetica, Arial;
$font-family-zh: "PingFangTC", "Yu Gothic", "微軟正黑體", "Microsoft JhengHei", sans-serif;
$font-size: 16px;
$line-height: 1.5;

html {
  font-family: $font-family-en , $font-family-zh;
  font-size: $font-size;
  line-height: $line-height;
}

#__next {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}
