@import '../styles/mixins/index';

.container {
  @include flex(row, center, center);
  position: fixed;
  left: 0; top: 0;
  width: 100vw;
  height: 100px;
  background-color: rgba(#ffffff, 0.6);
  box-shadow: 0 2px 30px 1px rgba(#d0d0d0, 0.3);
}

.link {
  margin: 0 15px;
}
