@import "../vars/index";

// Fonts
// -------------------------
@font-face {
  font-family: 'Quicksand-Regular';
  src: url('../assets/fonts/Quicksand-Regular.otf') format('opentype');
}

html {
  font-family: $font-family-en , $font-family-zh;
  font-size: $font-size;
  line-height: $line-height;
}
