// Fonts
// -------------------------
$font-family-en: Lato, Verdana, Raleway, HelveticaNeue, "Source Sans Pro", Helvetica, Arial;
$font-family-zh: "PingFangTC", "Yu Gothic", "微軟正黑體", "Microsoft JhengHei", sans-serif;
$font-size: 16px;
$line-height: 1.5;

// Colors
// -------------------------
// ...
